
/* Cards and Slider Custom Design  */
.bg-custom-card{
    background-color: #2e6d69;
    border-radius: 25px;
    margin-top: -30px;
    margin-bottom: 20px;
    color: white;
}
.bg-custom-card .btn{
    background-color: whitesmoke;
    color: blue;
    border: 1px solid whitesmoke;
}
.bg-custom-card .btn:hover{
    background-color: #164e63;
    border: 1px solid #577d8a;
    color: white;
    transition: 0.5s;
}
.package-bottom{
    margin-bottom: 100px;
}
/* Few Navbar Changes  */
.navbar-light .navbar-brand {
    font-family: 'Righteous', cursive;
    letter-spacing: 3px;
}
.navbar-light .navbar-nav .nav-link {
    font-family: 'Varela Round', sans-serif;   
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #2e6d69;
}
/* Accordion Changes  */
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #2e6d69;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.accordion-button:not(.collapsed)::after {
    background:none
}
/* Responsive changes  */
@media (max-width: 767.98px){

    .bg-custom-card{
        margin-top: 30px;
        margin-left: 20px;
        width: 95%;
      }
      .badge-design{
          margin-left: -30px;
      }
      .slider-responsive img{
          height: 450px;
          width: 100%;
      }
 }
 @media (max-width: 991px){
    .bg-custom-card{
        margin-top: 20px;
      }
 }
@media (max-width: 575.98px) {
    .bg-custom-card{
      margin-top: 35px;
      width: 90%;
      margin-left: 20px;
    }
    .badge-design{
        margin-left: -30px;
    }
    .slider-responsive img{
        height: 450px;
        width: 100%;
    }
    .navbar-light .navbar-brand {
        font-family: 'Righteous', cursive;
        letter-spacing: 0px;
    }
    .copyright-text{
        flex-direction: column;
    }
    .package-bottom{
        margin-bottom: 0px;
    }
 }
/* Custom Button Design  */
.custom-btn .btn{
    background-color: #2e6d69;
    border: 1px solid #2e6d69;
    color: white;
}
.custom-btn .btn:hover{
    background-color: #164e63;
    border: 1px solid #164e63;
    color: white;
    transition: 0.5s;
}
.custom-btn-slider .btn{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #1900ff;
}
.custom-btn-slider .btn:hover{
    background-color: #2e6d69;
    border: 1px solid #6aa7a3;
    color: white;
    transition: 0.5s;
}
/* Badge Design fix */
.badge-design{
    margin-left: -35px;
    padding: 10px;
    color: white;
    background-color: #f97316;
}



